<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="/main.css">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/js/uikit-icons.min.js"></script>
</head>
<body>
    <style>
        .contactx{
            background-color: rgb(132, 0, 255);
        }

        html{
            font-size: 21px;
        }

        .navbarx a:hover{
            text-decoration: none;
        }

        .ah1{
            text-align: center;font-size: 40px
        }

        .ahr{
            width: 100px;
            border: 0.1px solid blueviolet;
            left: 50%;
            position: relative;
            transform: translateX(-50%);
            margin: 30px 0;
        }

        .fzide{
            font-size: 18px;
        }

        .a2{
            text-align: center;
            color: blueviolet;
            font-size: 20px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }


        @media only screen and (max-width: 600px) {
            .ah1{
                font-size:30px
            }

            .fzide{
                font-size:14px
            }

            .meh22{
                font-size: 20px;
            }

            .a2{
                font-size: 13px;
            }

            span{
                font-size: 13px;
            }

        }
    </style>

        <nav class="navbarx">
            <a href="/"><h1 class="logo">MDL</h1></a>
        
            <ul class="tags">
                <a href="/leaderboard">Leaderboard</a>
                <a  target="__blank" href="https://discord.com/api/oauth2/authorize?client_id=776551374380204033&permissions=8&scope=bot">Add
                    Bot</a>
                <a href="/">Premium</a>
            </ul>
        
        
            <a
                href="https://discord.com/api/oauth2/authorize?client_id=792810366975082498&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fredirect&response_type=code&scope=identify%20email%20connections%20guilds"><button 
                    class="contactx" disabled >Login</button></a>
        </nav>

        <h1 class="ah1">Welcome <%= data[1].username %>#<%=data[1].discriminator%></h1>
        <hr class="ahr" >




        <div style="padding: 30px" class="uk-card uk-card-default a1">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="40" height="40" src="https://cdn.discordapp.com/avatars/<%= data[1].id %>/<%= data[1].avatar %>.png?size=4096">
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom meh22">User Information</h3>
                        <p class="uk-text-meta uk-margin-remove-top"><%= data[1].username %>#<%=data[1].discriminator%></p>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p class="fzide">ID: <%= data[1].id %></</p>
                <p class="fzide">Email: <%= data[1].email %></p>
                <p class="fzide">Country Tag: <%= data[1].locale %></p>
                <p class="fzide">Flags: <%= data[1].flags %> and Public Flags : <%= data[1].public_flags %></p>
                <p class="fzide">Mfa Enabled : <%= data[1].mfa_enabled %></p>
            </div>
            <div class="uk-card-footer">
                <%if(data[1].verified == true){%>
                    <span class="uk-label uk-label-success">Verified</span>
                <%}else{%>
                <span class="uk-label uk-label-danger">Not Verified</span>
                <%}%>
            </div>
        </div>


        <br>

        <a class="a2" href="">Add MDL to your Server!</a>

    </body>

</body>
</html>
